JerseySoapApp/src/wsdl/localhost_8081/soccorjerseylibrary.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.SoccorJersey.hccis.info/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.SoccorJersey.hccis.info/" name="SoccorJerseyLibraryImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.SoccorJersey.hccis.info/" schemaLocation="http://localhost:8081/soccorjerseylibrary?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getJersesy">
<part name="parameters" element="tns:getJersesy"></part>
</message>
<message name="getJersesyResponse">
<part name="parameters" element="tns:getJersesyResponse"></part>
</message>
<message name="getByCountry">
<part name="parameters" element="tns:getByCountry"></part>
</message>
<message name="getByCountryResponse">
<part name="parameters" element="tns:getByCountryResponse"></part>
</message>
<message name="getCount">
<part name="parameters" element="tns:getCount"></part>
</message>
<message name="getCountResponse">
<part name="parameters" element="tns:getCountResponse"></part>
</message>
<portType name="SoccorJerseyLibrary">
<operation name="getJersesy">
<input wsam:Action="http://soap.SoccorJersey.hccis.info/SoccorJerseyLibrary/getJersesyRequest" message="tns:getJersesy"></input>
<output wsam:Action="http://soap.SoccorJersey.hccis.info/SoccorJerseyLibrary/getJersesyResponse" message="tns:getJersesyResponse"></output>
</operation>
<operation name="getByCountry">
<input wsam:Action="http://soap.SoccorJersey.hccis.info/SoccorJerseyLibrary/getByCountryRequest" message="tns:getByCountry"></input>
<output wsam:Action="http://soap.SoccorJersey.hccis.info/SoccorJerseyLibrary/getByCountryResponse" message="tns:getByCountryResponse"></output>
</operation>
<operation name="getCount">
<input wsam:Action="http://soap.SoccorJersey.hccis.info/SoccorJerseyLibrary/getCountRequest" message="tns:getCount"></input>
<output wsam:Action="http://soap.SoccorJersey.hccis.info/SoccorJerseyLibrary/getCountResponse" message="tns:getCountResponse"></output>
</operation>
</portType>
<binding name="SoccorJerseyLibraryImplPortBinding" type="tns:SoccorJerseyLibrary">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getJersesy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getByCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SoccorJerseyLibraryImplService">
<port name="SoccorJerseyLibraryImplPort" binding="tns:SoccorJerseyLibraryImplPortBinding">
<soap:address location="http://localhost:8081/soccorjerseylibrary"></soap:address>
</port>
</service>
</definitions>